<div class="accordion">
  <div class="card" *ngFor="let celeb of celebrities">
    <div class="headings">
      <div class="details">
        <img class="user-photo" [src]="celeb.picture" alt="" />
        <div class="user-name">{{ celeb.first + " " + celeb.last }}</div>
      </div>
      <button class="collapse-button">
        <img class="caret" src="../../assets/caret.png" alt="" />
      </button>
    </div>
    <div class="collapsed-details">
      Matches an element with valid contents. For example, an input element with
      the type 'email' that contains a validly formed email address or an empty
      value if the control is not required.
    </div>
  </div>
</div>
